.active
    background: red

.calendarMain 
  margin: 0 2em
  margin-top: 2em


.calendarTable 
  margin-top: 2em
  margin-bottom: 1em
  position: relative
  height: 60vh
  display: flex
  flex-direction: column 


.Modal 
    // margin-top: 2em
    position: absolute
    top: 140px
    left: 140px
    right: 140px
    // bottom: 140px
    background-color: blue
    // background-color: rgba(0, 0, 0, 0.5)
    opacity: 0.9
    z-index: 2
  

.Overlay 
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0
  // opacity: 0.5
  background-color: rgba(0, 0, 0, 0.3)
  // background-color: rebeccapurple


.closeModal 
	background: #606061
	color: #FFFFFF
	line-height: 25px
	position: absolute
	right: -12px
	text-align: center
	top: -12px
	width: 28px
	text-decoration: none
	font-weight: bold
	border-radius: 50%

.closeModal:hover 
  background: blue

.activeButton
    background: blue
  
.headerList 
  list-style: none
  margin: 2em

.todayNavButton
  margin-left: 6px

.navButton
  margin-right: 3px
  border: solid gray 1px

.toolbarContainer
  margin-bottom: 0.5em

.headerListItem 
  list-style: none
  margin: 0.5em
  display: inline
  

.fieldset
  min-height: 11em
  width: 95%
  ul
    text-align: left
    padding: 0  

.mainFieldset
  min-height: 11em
  text-align: center

.toolbarDate
  float: right